*{ /* reset da pagina */
     margin: 0;
     padding: 0;
}
body{
     height: 100%; /* altura */
     width: 100%; /* altura */
     display: flex;
     justify-content: center;
     background: linear-gradient(rgb(6, 228, 140),gray);
     background-repeat: no-repeat;
}

.imagem{
     display: flex;
     justify-content: center;

 }
.imagem img{
     width: 170px; /*tamanho da foto do logo */
     border-radius: 200px;
     margin-top: 30px;
 }

.nome{
     display: flex;
     margin-top: 10px; /* Margem superior */
     justify-content: center; 
     font-size: 32px;
     font-weight: 600;  
     color: green;
     font-family: 'Times New Roman', Times, serif; /* Fonte do Texto */
 }
.redes-sociais{
     margin-top: 20px; /* margem superior */
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .redes-sociais a{
     text-decoration: none;
 }
 .icone, #email{
     display: flex;
     height: 35px;
     width: 35px;
     border-radius: 20px;
     transition: all 0.3s ease-in-out;
     box-shadow: 0 2px darkgreen;
     margin: 3px;
     overflow: hidden;
 }
 .icone i, #email i{
     display: inline-block;
     width: 35px;
     height: 35px;
     line-height: 35px;
     text-align: center;
     font-size: 22px;
     background: lightgreen;
     color: darkgreen;
 }
 .icone span a{
      list-style: auto;
      font-family: 'Courier New', Courier, monospace;
      float: ;
      margin-left: 25px;
      color: darkgreen;
      line-height: 35px;
      font-size: 13px;
 }
 .icone:hover{
    width: 160px;
    background: white;
 }