*{ /* reset da pagina */
     margin: 0;
     padding: 0;
}
body{
     height: 100%; /* altura */
     width: 100%; /* altura */
     display: flex;
     justify-content: center;
     background: linear-gradient(rgb(6, 228, 140),gray);
     background-repeat: no-repeat;
}

.imagem{
     display: flex;
     justify-content: center;

 }
.imagem img{
     width: 170px; /*tamanho da foto do logo */
     border-radius: 150px;
     margin-top: 30px;
 }

.nome{
     display: flex;
     margin-top: 10px; /* Margem superior */
     justify-content: center; 
     font-size: 32px;
     font-weight: 600;  
     color: darkgreen;
     font-family: 'Times New Roman', Times, serif; /* Fonte do Texto */
 }
.redes-sociais{
     margin-top: 20px; /* margem superior */
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .redes-sociais a{
     text-decoration: none;
 }
 .icone, #email{
     display: flex;
     height: 35px;
     width: 35px;
     border-radius: 20px;
     transition: all 0.3s ease-in-out;
     box-shadow: 0 2px darkgreen;
     margin: 3px;
     overflow: hidden;
 }
 .icone i, #email i{ /* Icones das redes sociais */
     display: inline-block;
     width: 35px;
     height: 35px;
     line-height: 35px;
     text-align: center;
     font-size: 22px;
     background: lightgreen;
     color: darkgreen;
 }
 .icone span a{
      list-style: auto;
      font-family: 'Courier New', Courier, monospace;
     /* float: ; Função desabilitada*/ 
      margin-left: 25px;
      color: darkgreen;
      line-height: 35px;
      font-size: 13px;
 }
 .icone:hover{  /* Efeito do nome dos Icones */
     width: 160px;
     background: white;
 }

 .texto {
     display: flex;
     position: relative; /*Função desabilitada*/ 
     justify-content: center;
     align-items: center;
     margin: 50px 30px;
     font-family: Arial, Helvetica, sans-serif ;
     font-size: 20px;
     text-align: justify;
     width: 600px;
     height: 500px;
     padding: 100px;
     border-radius: 10px;
     color: white;
     background-color: rgb(11, 203, 107);
     overflow: hidden;
     box-shadow: 5px 5px 3px rgb(62, 63, 63);
}
.sobre-mim{
     position: absolute;
     top: 10px;
     display: flex;
     color: darkgreen;
     font-family: 'Times New Roman', Times, serif ;
     font-size: 30;
     text-align: center;
     font-weight: 600;
     line-height: 40px;
}
.subtitulo {
     display: flex;
     justify-content: center;
     font-size: 28px;
     font-weight: 600;
     font-family: Arial, Helvetica, sans-serif;
     color: darkgreen;
     margin-top: 100px;
     margin-bottom: 35px;
}
.linguagem{
     display: flex;
     justify-content: center;
}
.linguagem img{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 280px;
     border-radius: 10px;
     box-shadow: 2px 2px 2px rgb(rgb(87, 86, 87));
     margin: 5px;
}
.projetos {
     margin-top: 50px;
     flex-direction: column;
}
.item{
     margin: auto;
     margin-bottom: 10px;
     display: flex;
     align-items: center;
     justify-content: center;
     width: 650px;
     height: 40px;
     font-size: 22px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     color: darkgreen;
     background: lightgreen;
     box-shadow: 2px 2px 2px rgb(58, 56, 58);
     border-radius: 5px;
     cursor: pointer;
}
.item:hover{
     transition: 0.1s;
     background: white;
}
.video{
     padding: 15px;
     margin: auto;
     display: none;
}
.video:active{
     display: block;
}
footer p{
     margin-top: 50px;
     padding: 50px;
     display: flex;
     justify-content: center;
     font-size: 15px;
}   /* Fim do CSS DESKTOP */


 /* Recurso para renderizar o conteudo do site e adapte para diversos dispositivos móveis ou resoluções */

   @media (max-width: 700px){
     .image img {
          width: 140px;
          margin-top: 25px;
     }
     .texto{
         width: 800px;
         height: 400px;
     }
     .linguagem img{
         width: 160px;
     }
     .subtitulo{
        font-size: 30px;
     }
     .item{
        width: 350px;
     }
     .video{
        width: 400px;
     }
   }/* resolução para smarthphone */

   /* resolução para smartphone */

   @media (max-width: 500px) {
     .imagem img {
        width: 100px;
        margin-top: 30px;
       }
     .nome{
        font-size: 40px;
       }
     .texto{
        width: 900px;
        height: 400px;
        padding: 80px;

       }
     .sobre-mim {
        font-size: 20px;
     }
     .subtitulo {
        font-size: 25px;
     }
     .item {
        width: 300px;
        height: 40px;
        margin-top: 15px;
     }
   }

